.item {
  display: flex;
  padding: 12px 25px;
  width: 370px;
  max-height: 90px;
  margin: 8px 0;
  border-radius: 30px;
  -webkit-box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.09);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.09);

  .wineImg {
    position: relative;
    height: 66px;
    width: 66px;
    border-radius: 15px;
    background-color: #f9f9f9;
    margin-right: 20px;
    -webkit-box-shadow: 3px 3px 3px rgba(197, 153, 153, 1);
    box-shadow: 3px 3px 3px rgba(197, 153, 153, 1);

    img {
      position: absolute;
      height: 80px;
      bottom: 10px;
      right: 21px;
    }
  }

  .desc {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 66px;
    .name {
      font-weight: 700;
    }
    .title {
      font-size: 10px;
      font-weight: 500;
      color: #a09292;
    }
    .price {
      font-weight: 700;
      font-size: 14px;
      font-weight: 700;
      color: #ee6e7a;
    }
  }
}
